*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  line-height: 2;
  color: #333;
  font-size: 15px;
  font-family: "PingFang SC", "Microsoft YaHei", "Heiti SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ----------------------------------------------
 * Markdown
 * ------------------------------------------- */

h2, h3, h4, h5, h6 {
  margin: 30px 0 15px;
}

h1 {
  padding: 40px 0 20px;
  margin: 0 0 30px;
  border-bottom: #eee 1px solid;
}

p, blockquote, pre {
  margin: 15px 0;
}

pre {
  padding: 10px 15px;
  overflow-x: auto;
}

code {
  font-family: "Roboto Mono", Monaco, Consolas, Menlo, "Courier New", monospace;
  margin: 0 5px;
  font-size: 90%;
  color: #e96900;
}

pre code {
  margin: 0;
  color: #333;
}

pre::-webkit-scrollbar {
  height: 5px;
}

pre::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
}

pre::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

blockquote {
  padding: 5px 15px;
  border-left: #ddd 4px solid;
  color: #999;
  background: #f6f6f6;
}

blockquote p {
  margin: 5px 0;
}

strong {
  color: #3FB960;
}

em {
  color: #4285f4;
}

strong em {
  color: #ea4335;
}

del {
  color: #999;
}

hr {
  height: 1px;
  border: 0;
  background: #f3f3f3;
  margin: 20px 0;
}

a {
  color: #42b983;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* ----------------------------------------------
 * Layout
 * ------------------------------------------- */

aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  background: #fefefe;
  box-shadow: 0 0 12px 0 rgba(130, 150, 170, 0.2);
}

aside .logo {
  color: #666;
  background: #eee;
  height: 90px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .logo span {
  margin-left: 10px;
}
#jekydocs-summary {
  overflow-y: auto;
  padding: 10px 0 20px;
}

#jekydocs-summary h5 {
  color: #ccc;
  margin: 25px 44px 5px;
  padding-left: 30px;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M512 786.103c136.155 0 256-42.825 256-191.269 0-148.48-91.429-320.548-256-320.548S256 446.354 256 594.798c0 148.48 119.845 191.268 256 191.268zm0 73.143c-196.974 0-329.143-82.323-329.143-264.412 0-205.75 132.572-393.691 329.143-393.691s329.143 187.94 329.143 393.655c0 182.125-132.17 264.411-329.143 264.411z' fill='%23ccc'/%3E%3Cpath d='M384 439.223h256a36.571 36.571 0 0 1 0 73.143H384a36.571 36.571 0 1 1 0-73.143zm0 146.468h256a36.571 36.571 0 0 1 0 73.143H384a36.571 36.571 0 1 1 0-73.143zM333.166 329.874c-15.726 0-47.068-8.777-47.068-16.713 0-31.744 25.6-139.812 47.068-139.812 21.394 0 47.177 113.81 47.177 139.812 0 7.936-31.452 16.713-47.177 16.713zm357.851 0c-15.726 0-47.03-8.777-47.03-16.713 0-31.744 25.6-139.812 47.03-139.812 21.431 0 47.177 113.81 47.177 139.812 0 7.936-31.451 16.713-47.177 16.713z' fill='%23ccc'/%3E%3C/svg%3E") no-repeat left -2px
}

#jekydocs-summary p {
  margin: 0;
}

#jekydocs-summary a {
  display: block;
  font-weight: 700;
  padding: 5px 40px;
  border-left: #fefefe 4px solid;
  color: #5C6975;
}

#jekydocs-summary a:hover {
  background: #f8f8f8;
  text-decoration: none;
}

#jekydocs-summary a.active {
  color: #42b983;
  background: #f5f8fe;
  border-left: #42b983 4px solid;
}

#jekydocs-summary::-webkit-scrollbar {
  width: 0;
}

#jekydocs-content {
  flex: 1;
  overflow-y: auto;
  padding: 0 280px 40px 90px;
}

#jekydocs-toc {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 200px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.2;
}

#jekydocs-toc a {
  display: block;
  color: #7285a1;
  padding: 0 20px;
  border-left: 1px #eee solid;
  text-decoration: none;
}

#jekydocs-toc a:hover {
  color: #42b983;
}

#jekydocs-toc a.active {
  color: #42b983;
  border-left: 1px #42b983 solid;
}

#jekydocs-toc a.toc-0 {
  color: #ccc;
  padding-left: 50px;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M384.088 191.941h512.023v63.893H384.088zm-.008 256.283h512.091v63.905H384.08zm-.002 255.663h512.099v63.874H384.078zM127.883 191.802H256.05v64.034H127.883zm.182 256.441h127.917v63.768H128.065zm.038 255.608h127.95v63.926h-127.95z' fill='%23ccc'/%3E%3C/svg%3E") no-repeat 20px center
}

#jekydocs-toc a.toc-1 {
  padding-top: 5px;
}

#jekydocs-toc a.toc-2 {
  padding-left: 40px;
}

#jekydocs-toc a.toc-3 {
  padding-left: 60px;
}

#jekydocs-toc a.toc-4 {
  padding-left: 80px;
}

/* ----------------------------------------------
 * Responsive
 * ------------------------------------------- */

@media (max-width: 768px) {}
